<div>
  <div >
    <img src="../../assets/images/home.jpg" style="background-size: cover;width: 100%;height: 600px;">
    <div class="homeContain">
      <div style="margin-left: 35px;margin-top: 35px;">
        <p>New Arraival</p>
        <h1>Discover Our <br> New Collection</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi earum accusantium debitis facilis at illum eum, quaerat consequuntur, nulla animi voluptatum omnis quod delectus necessitatibus culpa dolores! Quis, unde neque!</p>
      </div>
    </div>
  </div>
</div>

<div style="text-align: center;">
  <h3 style="margin-top: 25px;">Browse the Range</h3>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque eveniet unde cupiditate voluptatibus minima.</p>
  <br>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-auto">
        <img src="../../assets/images/chair.jpg" height="350px"><br><br>
        <h5>Dining</h5>
      </div>
      <div class="col-md-auto">
        <img src="../../assets/images/sofa3.jpg" height="350px"><br><br>
        <h5>Living</h5>
      </div>
      <div class="col-md-auto">
        <img src="../../assets/images/chair.jpg" height="350px"><br><br>
        <h5>Bedroom</h5>
      </div>
    </div>
  </div>
</div>
<br><br>
<div class="service">
  <div class="row" style="width: 100%;padding-top: 20px;padding-bottom: 20px;">
    <div class="col-sm" style="text-align: center;">
      <i class="bi bi-trophy" style="font-size: 60px"></i>
      <h5 style="font-size: xx-large;">High Quality</h5>
      <p>Crafted from top materials</p>
    </div>

    <div class="col-sm" style="text-align: center;">
      <i class="bi bi-patch-check" style="font-size: 60px"></i>
      <h5 style="font-size: xx-large;">Warrenty Protection</h5>
      <p>Over 5 years</p>
    </div>

    <div class="col-sm" style="text-align: center;">
      <i class="bi bi-truck" style="font-size: 60px"></i>
      <h5 style="font-size: xx-large;">Free Shipping</h5>
      <p>Order over 2000+</p>
    </div>

    <div class="col-sm" style="text-align: center;">
      <i class="bi bi-person-gear" style="font-size: 60px"></i>
      <h5 style="font-size: xx-large;">24/7 Support</h5>
      <p>Dedicated Support</p>
    </div>
  </div>


</div>
