<br>
<div class="contain">

  <h3>Get In Touch With Us</h3>
  <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui repellat quas nemo hic velit, odit non tempora itaque tenetur voluptate voluptatem.</p>

  <div class="container detailsContian">
    <div class="row">
      <div class="col">
        <div>
          <table>
            <tr style="text-align: left;">
              <td><i class="bi bi-geo-alt-fill"></i></td>
              <td><br><b>Address</b><br>400 University DriveSuite 200 Coral Gables,FL 33134 USA</td>
            </tr>
            <tr style="text-align: left;">
              <td><i class="bi bi-telephone-fill"></i></td>
              <td>
                <br><br><b>Phone</b>
                <br>Mobile: +(84) 546-6789
                <br>Hotline: +(84) 456-6789
              </td>
            </tr>
            <tr style="text-align: left;">
              <td><i class="bi bi-clock-fill"></i></td>
              <td>
                <br><br><b>Working Time</b>
                <br>Monday-Friday: 9:00 - 22:00
                <br>Saturday-Sunday: 9:00 - 21:00
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col" style="margin-right: 100px;">
        <form class="formContain">
          <label>Your Name</label><br><br>
          <input class="form-control form-control-lg" type="text" placeholder="Abc">
          <br><br>
          <label>Email Address</label><br><br>
          <input class="form-control form-control-lg" type="text" placeholder="Abc@def.com">
          <br><br>
          <label>Subject</label><br><br>
          <input class="form-control form-control-lg" type="text" placeholder="This is optional">
          <br><br>
          <label>Message</label><br><br>
          <textarea class="form-control form-control-lg" placeholder="Hi!,I'd like to aks about"></textarea>
          <br><br>
          <input type="submit" name="submit" value="Submit" class="btn btn-dark" >
        </form>
      </div>
    </div>
  </div>
</div>
