
<div class="head"></div>
<div class="headingName">
  <h1>Products</h1>
</div>
<br>
<div class="prodList">
  <div class="card products">
    <img src="../../assets/images/chair.jpg" class="card-img-top productImg" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card products">
    <img src="../../assets/images/sofa3.jpg" class="card-img-top productImg" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card products">
    <img src="../../assets/images/sofa1.jpeg" class="card-img-top productImg" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card products">
    <img src="../../assets/images/chair.jpg" class="card-img-top productImg" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card products">
    <img src="../../assets/images/chair.jpg" class="card-img-top productImg" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
</div>


