.head{
  height: 200px;
  width: 100%;
  opacity: 50%;
  /* text-align: center;
  align-content: center; */
  align-items: center;
  margin-top: 10px;
  background-size: cover;
  background-position: center;
  background-image: url('../../assets/images/home.jpg');
}
.headingName{
  position: absolute;
  margin-top: -130px;
  margin-left: 40%;
}
.prodList{
  display:flex;
  padding-left: 10px;
  grid-template-columns: repeat(auto-fit,1fr);
  flex-wrap: wrap;
  padding-right: 10px;
  padding-bottom: 20px;
  margin-left: 180px;
  margin-right: 40px;
}
.products{
  width: 250px;
  height: 100%;
  padding-right: 0px;
  margin-right: 30px;
  margin-top: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.productImg{
  height: 300px;
}
.buyButton{
  display: flex;
  justify-content: space-between;
}
