
<div class="footer">
<hr>

  <div class="container linkStyle">
    <div class="row">
      <div class="col-sm">
        <h3>Furnio</h3>
        <br><br>
        <p>400 University Drive Suite 200 Coral<br>Gables,<br>FL 33134 USA</p>
      </div>
      <div class="col-sm">
        <ul type="none" class="linkStyle">
          <li>Links</li>
          <li>Home</li>
          <li>Shop</li>
          <li>About</li>
          <li>Contact</li>
        </ul>
      </div>
      <div class="col-sm">
        <ul type="none" class="linkStyle">
          <li>Help</li>
          <li>Payment Options</li>
          <li>Returns</li>
          <li>Privacy Policies</li>
        </ul>
      </div>
      <div class="col-sm linkStyle">
        <input type="text" placeholder="Enter Email Address">&nbsp;&nbsp;
        <button class="btn btn-dark">Subscribe</button>
      </div>
    </div>

</div>
</div>
